<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node Js Web Browser</title>
</head>
<body>
    <h1>Ini adalah Web Server pertama yang saya buat di Node js</h1>
    <h3>Selamat datang hhe</h3>


    <!--Ini adalah penggunaan sintax ejs pada file html-->
    <% const nama = 'Muhammad Kelvin Raditya'; %>
    <h2>Hai..nama saya <%= nama %>   </h2>


    <h4>Daftar Crush </h4>
    <% crush.forEach(mantan => { %>
      <ul>
        <li>nama: Della Sabrina</li>
        <li>Kelas: 1 SMA</li>
        <li>Umur: 16 Tahun</li>
        <li>Status: Single</li>
      </ul>
    <% }) %>
</body>
</html>